<h1>Connexion</h1>

<form action="/register" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" email="email" id="email" required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="text" password="password" id="password" required>
    </div>
    <button type="submit">Connexion</button>
</form>
<a href="/register">S'inscrire</a>